@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  position: relative;
  box-sizing: border-box;
}

.navbar__first {
  padding: 1rem;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2);
}
.navbar_left {
  display: flex;
  gap: 1rem;
}
.navbar_icon {
  border: 1px solid #eaeaea;
  color: #8b84b7;
}
.icon {
  width: 250px;
  padding: 6px;
  border: 1px solid #efeef3;
}
textarea:focus,
input:focus {
  outline: none;
}
.navbar__logo {
  font-size: 1.3rem;
}
.sidebar__main {
  padding: 10px;
  position: fixed;
  top: 56px;
  box-shadow: 0 0px 4px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  height: 100vh;
}
.sidebar__second {
  display: flex;
  gap: 0.5rem;
  padding: 10px;
  font-weight: 400;
  filter: blur(0.6px);
}
.sidebar_icon {
  color: #776ee2;
}
.sidebar__second:hover {
  border-radius: 2px;
  background-color: #f8f9fc;
  font-weight: 600;
  filter: blur(0);
}
.user_bg {
  position: fixed;
  width: 100%;
  left: 200px;
  top: 56px;
  padding-right: 10px;
}

.image-preview > img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: calc(100% - 200px);
  height: 130px;
  overflow: hidden;
  object-fit: cover;
}
.custom-file-upload {
  position: absolute;
  top: 1px;
  right: 210px;
  z-index: 1;
  color: #776ee2;
  background-color: rgb(231, 228, 228);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.main_first {
  position: absolute;
  top: 186px;
  left: 200px;
  display: flex;
  align-items: flex-start;
  width: calc(100% - 200px);
}
.profile__first {
  font-family: "Roboto", sans-serif;
  flex: 1;
  max-width: 270px;
  width: 99%;
box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.profile__second {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile__second-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: #403d50;
}
.profile__second-role {
  margin: 2px;
  font-size: 0.8rem;
  color: #dfe0e4;
}
.profile__second-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 10px;
}
.profile__third {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.tabcomponent {
  flex: 1;
  border: 2px solid blueviolet;
  padding: 20px;
}
.progressbar {
  width: 250px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 2px solid #f0f0f2;
  border-radius: 16px;
  padding: 30px;
  background-color: #f9f8fe;
  color: #3d3953;
  font-weight: 600;
  font-size: 1.2rem;
}
.profile_img {
  position: absolute;
  top: -50px;
  left: 70px;
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 100%;
}
.profile__third {
  padding: 10px 0 0 10px;
  font-size: 0.8rem;
}
.profile_third--para {
  font-size: 0.6rem;
  padding: 5px 0 10px 10px;
  color: #dfe0e4;
}
.onlineLinks {
  padding: 10px 0 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #403d50;
}

.onlineLinks-para {
  font-size: 0.6rem;
  padding: 5px 0 10px 10px;
  color: #dfe0e4;
}
.profile_sixth-ranking {
  margin: 10px;
}
